{{#each this}}
  <section class='box comment'>
    <div></div>
    <div class='comment-content'>
      <p>{{comment_text}}</p>
    </div>
    <div class='meta meta-comment'>
      –{{user.username}}
      on
      {{format_date createdAt}}
    </div>
  </section>
{{/each}}