{{> header headline='Your Dashboard'}}

{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <article class='dashboard-post-wrapper'>
      <a href='dashboard/{{post.id}}' class='dashboard-post-link'>
        <div class='dashboard-post'>
          <h2>{{post.title}}</h2>
          <p>{{format_date post.createdAt}}</p>
        </div>
      </a>
    </article>
    {{/each}}
  </ol>
</section>
{{/if}}

<a href="/dashboard/new-post" class='new-post-btn'>+ New Post</a>