{{> header headline='The Tech Blog'}}

<div class='box account-form'>
  <div class='box-heading account-heading'>
  </div>
  <div class='account-form-wrapper'>
    <label for='login-username'>username</label>
    <input type='text' name='login-username' id='login-username' />
    <label for='login-password'>password</label>
    <input type='text' name='login-password' id='login-password' />
    <button type='submit' class='account-btn' id='login-btn'>Login</button>
    <a href='/sign-up' class="account-link">Sign up instead</a>
  </div>
</div>

<script src="/js/login.js"></script>