{{> header headline='The Tech Blog'}}

<div class='box account-form'>
  <div class='box-heading account-heading'>
  </div>
  <div class='account-form-wrapper'>
    <label for='signUp-username'>username</label>
    <input type='text' name='signUp-username' id='signUp-username' />
    <label for='signUp-password'>password</label>
    <input type='text' name='signUp-password' id='signUp-password' />
    <button type='submit' class='account-btn' id='signUp-btn'>Sign up</button>
    <a href='/login' class="account-link">Login instead</a>
  </div>
</div>