{{> header headline='The Tech Blog'}}
{{> post-info post }}

{{#if loggedIn}}
  <form class='box comment-form'>
    <div  class='box-heading add-comment-heading'></div>
    </div>

    <div class='add-comment-body'>
      <textarea name='comment-body' class='comment-textarea'></textarea>
      <button type='submit' class='submit-comment'>add comment</button>
    </div>
  </form>
{{/if}}

    {{> comments post.comments }}

{{#if loggedIn}}
  <script src='/js/comment.js'></script>
{{/if}}