{{> header headline='Dashboard'}}

<article>
  <div>Edit Post</div>
  <form>
    <div>
      <label for='post-title'>Title</label>
      <input
        name='post-title'
        id='post-title'
        type='text'
        value='{{post.title}}'
      />
    </div>
    <div>
      <label for='post-body'>Content</label>
      <textarea name='post-body' id='post-body'>{{post.post_text}}</textarea>
    </div>
    <button id='update-button'>Update</button>
    <button id='delete-button'>Delete</button>
  </form>
</article>

<script src='/js/edit-post.js'></script>